.App {
  background-color: #4f3933;
  background: linear-gradient(to right, #493530, #30231e);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
